.git
.github
.venv
__pycache__
.pytest_cache

.env
runtime/
database/
*.db
*.db-shm
*.db-wal
trimmedia_tmp.db*
trakt_tokens.json
trakt_last_sync.json
trakt_settings.json
app.log

/tests
/docs

*.pyc
*.pyo
*.pyd
*.log
.vscode
.idea
.DS_Store
Thumbs.db
